div[contenteditable] {
    position: relative;
}

.halloOverlay {
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
}

.halloBackground {
    position: absolute;
    background-color: #fff;
    z-index: 300;
}

